<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dowell" translate="label" sortOrder="1000" class="dowell_tab">
            <label>Dowell</label>
        </tab>
        <section id="forsage" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>System Options</label>
            <tab>dowell</tab>
            <resource>Dowell_Forsage::config_forsage</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>general</label>

                <field id="api_key" translate="label comment" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Api key</label>
                    <comment>Api key</comment>
                </field>
            </group>
        </section>

    </system>
</config>