.header .links li a.compare .qty {
	display: none;
}
.notify-slider-wrapper .address-purchased {
	text-indent: -25px;
	overflow: hidden;
}
.checkout-index-index #shipping-new-address-form>.field[name="shippingAddress.postcode"], .checkout-index-index #shipping-new-address-form>.field[name="shippingAddress.country_id"], .checkout-index-index #shipping-new-address-form>.street {
	display: none;
}
.product-shop>.product.attribute.overview>.type {
	display: none;
}
.checkout-cart-index .cart-summary #block-shipping, .checkout-cart-index .cart-summary .checkout-methods-items>li:last-child, .checkout-cart-index .cart-summary strong.summary.title, .checkout-cart-index .cart-summary #cart-totals tbody>.sub, .checkout-cart-index .cart-summary #cart-totals tbody>.shipping {
	display: none;
}
.checkout-cart-index .cart-summary #cart-totals {
	border: none;
    padding: 0;
}
.account ul.nav.items li>strong {
    padding: 10px 15px;
    display: block;
}
.nav-sections-item-content > .navigation .nav-mobile>.hasChild {
	display: none;
}
.nav-sections-item-content > .navigation .nav-mobile>.home .icon-text {
	padding-left: 0;
}
.customer-address-form .field.choice.set.shipping {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.customer-address-form .field.choice.set.shipping label {
	padding: 0;
	white-space: unset;
	margin-left: 4px;
}
.checkout-onepage-success .block.block-order-details-view {
	display: none;
}
.checkout-onepage-success .block.block-order-details-comments {
	margin-bottom: 0;
}
.product-info-main .product-info-price .unitPrice {
    font-size: 25px;
    color: #ff3366;
}
.product-info-main .product-info-price .price-box>.price-final_price .price, .product-info-main .product-info-price .price-box>.special-price .price {
    font-size: 15px;
    color: #333;
}
.product-item-details .wrapAttr {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-item-details .wrapAttr .unitPrice {
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    width: 100%;
}
.product-item-details .wrapAttr .unitPrice span span {
    color: #ff3366;
    float: right;
}
.product-item-details .wrapAttr .wrapAttrList {
	display: block;
	width: 100%;
}
.product-item-details .wrapAttr .wrapAttrList>span {
    display: block;
    width: 100%;
}
.product-item-details .wrapAttr .wrapAttrList>span span {
	float: right;
    clear: both;
    margin: 0;
    padding: 0;
}
.product-item-details .wrapAttr .wrapAttrList .wrapAttrRealPrice {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.product-item-details .wrapAttr .wrapAttrList .wrapAttrRealPrice .price-box {
	float: right;
    margin-left: auto;
}
.product-item-details .wrapAttr .wrapAttrList .wrapAttrRealPrice .price-box .price {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.filter-content .filter-options>.narrow-by:first-child .toggle-content, .filter-content .filter-options>.narrow-by:nth-child(2) .toggle-content {
	display: block;
}
.filter-content .filter-options>.narrow-by:first-child .toggle-tab.mobile, .filter-content .filter-options>.narrow-by:nth-child(2) .toggle-tab.mobile {
	display: none !important;
}
.filter-content .filter-options>.narrow-by:first-child .filter-options-title:after, .filter-content .filter-options>.narrow-by:nth-child(2) .filter-options-title:after {
	display: none;
}
.filter-options .am-filter-items-attr_category_ids .item .am-input {
	display: none;
}
body .filter-options .items .items-children.-folding .item {
    margin: 0;
}
body .filter-options .items .items-children.-folding.level-1>.item[data-label="Шлепки"], body .filter-options .items .items-children.-folding.level-1>.item[data-label="Сандали"] {
	display: none;
}
body .filter-options .items .items-children.-folding {
    padding-left: 5px;
}
.filter-options .filter-options-content>form>.am-filter-items-attr_category_ids>.item {
	padding-right: 5px;
}
body.cms-brands .brands-filters .input-box {
	background: url('../images/shopbybrand/bg_2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 305px;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	width: 100%;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
body.cms-brands .brands-filters .input-box .ambrands-search-wrapper {
	float: none;
	display: inline-block;
	width: 100%;
	max-width: 50%;
}
body.cms-brands .brands-filters .input-box .ambrands-search-wrapper:before {
	content: '\e615';
	display: block;
	position: absolute;
	width: auto;
	height: 40px;
	font-family: 'icons-blank-theme';
	z-index: 9;
	line-height: 40px;
	font-size: 20px;
	padding-left: 10px;
	color: #dddddd;
}
body.cms-brands .brands-filters .input-box .ambrands-search-wrapper .ambrands-search-input {
	height: 40px;
	padding-left: 35px;
	border: none;
	box-shadow: 0 0 10px #eeeeee;
	margin: 0;
}
body.cms-brands .brands-filters .input-box .ambrands-search-wrapper #livesearch {
	width: 100%;
}
body.cms-brands .brands-filters .letters {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 20px 0 0 0;
}
body.cms-brands .brands-filters .letters .letters-box {
	display: inline-block;
	width: auto;
}
body.cms-brands .brands-filters .letters .letters-box .letter {
	font-size: 16px;
	letter-spacing: 0.74px;
	padding: 7px;
	border-radius: 0;
	display: inline-block;
	margin: 0;
}
body.cms-brands .brands-filters .letters .letters-box .letter:hover {
	background: #ff3366;
	color: white;
}
body.cms-brands .brands-filters .letters .letters-box .letter.-active {
	background: #ff3366;
	color: white;
}
body.cms-brands .brand-images {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
body.cms-brands .brand-images .brands-letter {
	width: 100%;
	padding: 0;
}
body.cms-brands .brand-images .brands-letter .brand-item {
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	margin: 0;
	min-height: auto;
	text-align: left;
}
body.cms-brands .brand-images .brands-letter .brand-item .am-image-wrapper {
	display: none;
}
body.cms-brands .brand-images .brands-letter .brand-item .label:before {
	display: none;
}
body.cms-brands .brand-images .brands-letter .brand-item a.item {
	padding-right: 5px;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
body.cms-brands .brand-images .brands-letter .brand-item .item p.label {
	background: url('../images/shopbybrand/featured-bullet-both.gif') no-repeat 4px 5px;
	padding-left: 12px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 0 0 12px;
	line-height: 20px;
	width: auto;
}
body.cms-brands .brand-images .brands-letter .brand-item .item:hover p.label {
	background-position: 4px -12px;
}
body.cms-brands .brands-letter .brand-item .count {
    background: transparent;
    color: #4a4a4a;
    margin: 5px 0 0 0;
    line-height: 20px;
    padding-top: 5px;
    position: relative;
    width: auto;
    display: inline;
}
.amcheckout-main-container.-modern .amcheckout-step-container .amcheckout-summary-container .subtotal:before {
	content: 'Сумма: ';
	color: #666666;
    font-size: 13px;
    font-weight: bold;
}
.amcheckout-main-container.-modern .amcheckout-step-container .amcheckout-summary-container .subtotal>span {
    display: inline-block;
    margin: 0;
}
.amcheckout-main-container.-modern .amcheckout-step-container .amcheckout-summary-container .priceUnit {
    display: inline-block;
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 2px;
}
.amcheckout-main-container.-modern .amcheckout-step-container .amcheckout-summary-container .minicart-items .product-item {
	padding-right: 5px;
}
.block-minicart .block-content > .actions:last-child {
	display: none;
}
body .minicart-wrapper .block-minicart {
	padding-bottom: 0;
}
.filter-options-content .item input[type="radio"] {
	margin: 0;
}
.am-filter-items-attr_price_unit .range.am-fromto-widget .am-filter-go {
	width: 100%;
}
div.fotorama--fullscreen {
	z-index: 99999 !important;
}
tr.item-info td.col.qty .field.qty .custom-qty {
	position: relative;
}
tr.item-info td.col.qty .field.qty .custom-qty div.mage-error[generated] {
	position: absolute;
    bottom: 0;
    top: 30px;
}
.account .order-date {
	display: none;
}
.sales-order-view .block-order-details-view {
	display: none;
}
.checkout-success {
    padding-top: 30px;
}
.amasty-catalog-topnav {
	display: none !important;
}
.catWrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.catWrap .catBlock {
    width: 25%;
    text-align: center;
}
.catWrap .catBlock img {
    height: 250px;
}
.catWrap .catBlock span {
    display: block;
}


/*menu cat and top*/
.vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow>li.top-menu-about, .vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow>li.top-menu-contact, .vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow>li.top-menu-sotrudnichestvo, .vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow>li.top-menu-dostavka, .vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow>li.top-menu-skidki {
	display: none !important;
}
.magicmenu .nav-desktop>li:not(.home):not(.top-menu-about):not(.top-menu-contact):not(.top-menu-sotrudnichestvo):not(.top-menu-dostavka):not(.top-menu-skidki) {
	display: none !important;
}
/*menu cat and top*/

/*translate*/
.checkout-cart-index .cart-summary #cart-totals tbody>tr.totals:not(.sub):not(.shipping):not(.grand) th.mark span.title {
	display: none;
}
.checkout-cart-index .cart-summary #cart-totals tbody>tr.totals:not(.sub):not(.shipping):not(.grand) th.mark span.discount.coupon:before {
	content: 'Скидка';
}
.catalog-product_compare-index #product-comparison>tbody:last-child>tr:nth-child(2) span.attribute.label:before {
    content: 'Описание';
    text-indent: 0;
    position: absolute;
    left: 0;
}
.catalog-product_compare-index #product-comparison>tbody:last-child>tr:nth-child(2) span.attribute.label, .catalog-product_compare-index #product-comparison>tbody:last-child>tr:nth-child(3) span.attribute.label {
    text-indent: -9999px;
    position: relative;
}
.catalog-product_compare-index #product-comparison>tbody:last-child>tr:nth-child(3) span.attribute.label:before {
    content: 'Краткое описание';
    text-indent: 0;
    position: absolute;
    left: 0;
}
.product-info-main .product-info-price .price-box>.price-final_price .price:before, .product-info-main .product-info-price .price-box>.special-price .price:before {
    content: "Упаковка: ";
}

/*/translate*/

/*adaptive*/

@media screen and (min-width: 1201px) {
	.cms-index-index .page.messages {
		padding-left: 270px !important;
	}
}
@media screen and (max-width: 1199px) {
	.range.am-fromto-widget .am-filter-go {
		padding: 0;
	}
	.recentorder {
		display: none;
	}
	.sidebar-additional .magicproduct .products .product-item-info .images-container {
		width: 100%;
	}
	.sidebar-additional .magicproduct .products .product-item-info .product-item-details {
		width: 100%;
		padding: 0;
		text-align: center;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.range.am-fromto-widget .am-filter-go {
		padding: 0;
	    width: 100%;
	    margin-top: 5px;
	    max-width: 118px;
	}
	.filter-options-content .range {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	    -webkit-justify-content: center;
	    -ms-justify-content: center;
	    justify-content: center;
	}
}
@media screen and (max-width: 991px) {
	.catWrap .catBlock {
		width: 50%;
	}
}
@media screen and (max-width: 550px) {
	.catWrap .catBlock {
		width: 100%;
	}
}